*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    overflow-x: hidden;
}
.main{
    width: 100%;
}

.head .content{

  background-image: linear-gradient(to right, violet,purple,#ff4d73);
  background-image: linear-gradient(to right,purple,#ff4d73);
  background-color: white;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
h2{
    color: black;
}
h4{
    color: black;
}
.menu{
    display: inline-flexbox;
}
.menu img{
    height: 100px;
    margin: 20px 0 0  110px;
}
.csea img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
.menu button{
    padding: 5px 20px;
    background: orangered;
    color:black;
    border: 1px solid orangered;
    display: block;
    font-size: 16px;
    border: 0;
    position: absolute;
    right:10%;
    top: 5%;
}
.menu button:hover{
    background: transparent;

}

.menu button .fa{
    margin-right: 10px;
    color: blue;
}
.banner{
    width: auto;
    color: #fff ;
    margin: 16% auto 0;
    text-align: center;
}
.banner h2{
    margin-top: 50px;
}
.banner button{
    text-decoration: none;
    color:black;
    border: 1px solid orangered;
    display: block;
    padding:10px;
    width: 180px;
    margin: auto;
    background: orangered;
    transition: .3s;
}
.banner button:hover{
    background:transparent;}
.content{
    background-image: linear-gradient(to left,blue,purple,#ff4d73);
    background-position: center;
    background-size: cover;
    height: auto;
    width: auto;

}
h1{
    text-align: center;
    padding-top: 100px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1::after{
    content: '';
    background: #ff4d73;
    display: block;
    height: 3px;
    width: 300px;
    margin: 20px auto 50px;
}
.services .icon{


    font-size: 30px;
    margin:20px auto;
    padding: 18px;
    height: 70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 40%;
    color: black;
}
.services span{
    color: black;
    transition: .5s;
}
.services p{
    font-size: 15px;
    margin-top: 10px;
    color: black;
    padding: 20px;
}
.services .col-md-3:hover{
    background-color:orangered;
    cursor: pointer;
    color: black;
    box-shadow: -5px 5px 10px 0 black;
    transition: .5s;
}
.services .col-md-3:hover .icon{
    border: 1px solid white;
    color: white;
}
.services .col-md-3:hover p{
    color:white;
}
.services.col-md-3:hover span{
    color:white;
}

/*-------footer------*/
.footer h1{
    padding-top: 50px;
}
.contact-form{
    padding: 15px;
    border: black;
}
.form-control{
    border-radius: 0 !important;
    border: black !important;
    box-shadow: black !important;
}
::placeholder{
    font-size: 12px;
}
.contact-form button{
    border: none !important;
    background:orangered!important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.follow{
    text-align: center;
}
.contact-info .follow{
    padding: 8px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    font-size: 20px !important;
    color: #ff4d73 !important;
    font-weight: bold !important;
    padding-right: 20px;
}
.copy{
    text-align: center;
    font-size: 15px;
}
.fa-heart-o{
    color: #ff4d73;
    font-size: 18px;
}
.footer hr{
    margin-top: 50px;
    background: #ff4d73;
    background: #ff4d73;
}
.services,.kec,.footer{
    margin-top: 10%;
}
